.eyetracked {
    border: solid 5px pink;
}

.PennController {
    /*width: 40em;*/
    text-align: center;
}

.Scale table {
  border-spacing: 10px;
}
td.Scale-scaleButton {
  padding:10px 15px 10px 15px;
  color:blue;
  border:1px solid gray;
  font-size: 2em;
}




.draw-container, .guess-container, .shaken-container {
    text-align: left;
}

.ball-container {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.board-container {
    margin-top: 2em;
}

.Tooltip {
    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border: solid 1px gray;
    border-radius: 5px;
    opacity: 0.95;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.Button {
    margin: 0.5em;
}

.shake, .reset, .validate, .continue {
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
}
.shake:disabled, .reset:disabled {
    border: dotted 1px lightgray;
    color: lightgray;
}

.shake, .reset {
    font-size: 15px;
    font-family: sans-serif;
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 4px;
    background-color: whitesmoke;
}


.Tooltip a {
    font-style: italic;
    font-variant: small-caps;
    font-size: 0.9em;
    border-radius: 2px;
    padding: 2px;
}

.instructions-container, .description-container {
    font-weight: bold;
}
.instructions-container, .description-container {
    font-size: large;
    margin-top: 1em;
    font-family: sans-serif;
    text-align: center;
}




.testsentence-container {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 1em !important;
}
.panel {
    border: solid 1px black;
}
.panelBuffy-container {
    margin-top: 2em !important;
}

.panel .Canvas, .panelBuffy .Canvas {
    border-radius: 30px;
    border: solid 1px grey;
}

.board .Canvas {
    border-radius: 10px;
    border: dotted 1px grey;
}

.Palette-palette-selected {
    border: dashed 2px lightpink !important;
}



.eyetracked {
    outline: solid 2px purple !important;
}
